<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="describeme">
      <section name="database" type="DescribeMe.Core.Config.DatabaseConfigurationSection, DescribeMe.Core" requirePermission="false" />
      <section name="emu" type="DescribeMe.Core.Config.EmuConfigurationSection, DescribeMe.Core" requirePermission="false" />
      <section name="environment" type="DescribeMe.Core.Config.EnvironmentConfigurationSection, DescribeMe.Core" requirePermission="false" />
      <section name="oauthClients" type="DescribeMe.Core.Config.OauthClientsConfigurationSection, DescribeMe.Core" requirePermission="false" />
      <section name="admins" type="DescribeMe.Core.Config.AdminsConfigurationSection, DescribeMe.Core" requirePermission="false" />
      <section name="moderators" type="DescribeMe.Core.Config.ModeratorsConfigurationSection, DescribeMe.Core" requirePermission="false" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <describeme>
    <database url="http://zen.mv.vic.gov.au:8081/" name="describeme_dev" />
    <emu host="chopin.mv.vic.gov.au" port="40022" />
    <environment imagesPath="D:\Projects\describe-me\src\DescribeMe.Website\images" siteUrl="http://localhost:50880/" />
  </describeme>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="DescribeMe.Import" />
    </extensions>
    <targets>
      <target name="console" xsi:type="ColoredConsole" layout="${longdate} [${level}] - ${message}" useDefaultRowHighlightingRules="true" />
      <target name="file" xsi:type="File" layout="${longdate} [${level}] - ${message}" fileName="${basedir}\logs\nlog\log.txt" archiveFileName="${basedir}\logs\nlog\log.{#}.txt" archiveAboveSize="1048576" archiveNumbering="Sequence" maxArchiveFiles="9" />
      <target name="signalR" xsi:type="SignalR" layout="[Import App] - ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Error" writeTo="console,file,signalR" />
      <logger name="DescribeMe.*" minlevel="Debug" maxlevel="Warn" writeTo="console,file,signalR" />
      <logger name="Raven.*" minlevel="Debug" maxlevel="Warn" writeTo="file" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Raven.Client.Lightweight" publicKeyToken="37f41c7f99471593" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Raven.Abstractions" publicKeyToken="37f41c7f99471593" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>