@{
    ViewBag.Title = "External login failed";
}

<section class="box login-confirm">
    <div class="sub-box">
        <h2>External login failed</h2>
        <fieldset>
            <legend>That login didn’t work. Please check your details and try again.</legend>
        </fieldset>
    </div>
</section>