@model AccountManageViewModel
@{
    ViewBag.Title = "Account updated successfully";
}

<section class="box login-confirm">
    <div class="sub-box">
        <h2>Account updated successfully</h2>
        <fieldset>
            <legend>To update your account, we had to log you out automatically. Please log in again using your chosen provider to complete the update.</legend>
        </fieldset>
    </div>
</section>