@{
    ViewBag.Title = "Page not found";
}

<section class="message">
    <img src="/assets/image-weirdos.jpg" alt="Three People Dressed as Pigs on a Float." width="960" />
    <div class="speech-bubble red"><span>Page not found.</span></div>
</section>