<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="describeme">
      <section name="database" type="DescribeMe.Core.Config.DatabaseConfigurationSection, DescribeMe.Core" requirePermission="false" />
      <section name="emu" type="DescribeMe.Core.Config.EmuConfigurationSection, DescribeMe.Core" requirePermission="false" />
      <section name="environment" type="DescribeMe.Core.Config.EnvironmentConfigurationSection, DescribeMe.Core" requirePermission="false" />
      <section name="oauthClients" type="DescribeMe.Core.Config.OauthClientsConfigurationSection, DescribeMe.Core" requirePermission="false" />
      <section name="admins" type="DescribeMe.Core.Config.AdminsConfigurationSection, DescribeMe.Core" requirePermission="false" />
      <section name="moderators" type="DescribeMe.Core.Config.ModeratorsConfigurationSection, DescribeMe.Core" requirePermission="false" />      
    </sectionGroup>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <describeme>
    <database url="http://localhost:8080/" name="DescribeMe_Dev" />
    <emu host="localhost" port="40022" />
    <environment imagesPath="D:\Projects\describe-me\src\DescribeMe.Website\images" />
    <oauthClients>
      <client name="facebook" key="facebookAppId" secret="facebookAppSecret" />
      <client name="twitter" key="twitterConsumerKey" secret="twitterConsumerSecret" />
    </oauthClients>
    <admins>
      <user userId="providerUserId" provider="provider" name="name" />
    </admins>
    <moderators>
      <user userId="providerUserId" provider="provider" name="name" />
    </moderators>    
  </describeme>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="enableSimpleMembership" value="false" />
  </appSettings>
  <dotless minifyCss="false" cache="false" web="true" />
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="DescribeMe.Web" />
    </extensions>
    <targets>
      <target name="file" xsi:type="File" layout="${longdate} [${level}] - ${message}" fileName="${basedir}\logs\nlog\log.txt" archiveFileName="${basedir}\logs\nlog\log.{#}.txt" archiveAboveSize="1048576" archiveNumbering="Sequence" maxArchiveFiles="9" />
      <target name="consoleFile" xsi:type="File" layout="${longdate} [${level}] - ${message}" fileName="${basedir}\logs\nlog\consolelog.txt" archiveFileName="${basedir}\logs\nlog\consolelog.{#}.txt" archiveAboveSize="16384" maxArchiveFiles="1" archiveNumbering="Rolling" />
      <target name="signalR" xsi:type="SignalR" layout="${longdate} [${level}] - ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Error" writeTo="file,consoleFile,signalR" />
      <logger name="DescribeMe.*" minlevel="Debug" maxlevel="Warn" writeTo="file,signalR,consoleFile" />
      <logger name="Raven.*" minlevel="Debug" maxlevel="Warn" writeTo="file" />
    </rules>
  </nlog>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms name="DESCMEAUTH" timeout="129600" />
      <!-- timeout 90 days -->
    </authentication>
    <membership defaultProvider="RavenMembershipProvider">
      <providers>
        <clear />
        <add name="RavenMembershipProvider" type="DescribeMe.Web.Infrastructure.RavenMembershipProvider, DescribeMe.Web" />
      </providers>
    </membership>
    <roleManager cacheRolesInCookie="true" cookieName="DESCMEROLES" defaultProvider="RavenRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="RavenRoleProvider" type="DescribeMe.Web.Infrastructure.RavenRoleProvider, DescribeMe.Web" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
    </handlers>
  </system.webServer>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Raven.Client.Lightweight" publicKeyToken="37f41c7f99471593" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Raven.Abstractions" publicKeyToken="37f41c7f99471593" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <elmah>
    <security allowRemoteAccess="true" />
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/logs/elmah" />
  </elmah>
  <location path="elmah.axd">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
</configuration>