@{
    ViewBag.Title = "Examples";
}

<section class="box login-confirm">
    <div class="sub-box">
        <h2>Here are some examples to help get you started</h2>
        <fieldset>
            <legend>Good alt-text is short and sweet (3-7 words). It conveys the visual information of the image but doesn’t contain too much detail.</legend>
            <div class="example clearfix">
                <div class="panel">
                    <h4>Example 1</h4>
                    <img src="/assets/image-example-1.jpg" alt="Sugar bowl shaped like a cottage." width="154" />
                </div>
                <div class="panel cross">
                    <h4>Too long</h4>
                    <p>Sugar bowl shaped like a cottage with windows, flowers, thatched roof and a door. The lid knob is the chimney.</p>
                </div>
                <div class="panel cross">
                    <h4>Not clear</h4>
                    <p>Little house.</p>
                </div>
                <div class="panel tick">
                    <h4>Just right</h4>
                    <p>Sugar bowl shaped like a cottage.</p>
                </div>
            </div>
            <div class="example clearfix">
                <div class="panel">
                    <h4>Example 2</h4>
                    <img src="/assets/image-example-2.jpg" alt="Coastal scene, Lorne." width="154" />
                </div>
                <div class="panel cross">
                    <h4>Too long</h4>
                    <p>Black and white photograph depicting the coastal landscape of Lorne in the 1920s, with sunlight on the ocean, two trees in the foreground, clouds in the sky and hills in the background.</p>
                </div>
                <div class="panel cross">
                    <h4>Not clear</h4>
                    <p>A nice place to holiday.</p>
                </div>
                <div class="panel tick">
                    <h4>Just right</h4>
                    <p>Coastal scene, Lorne.</p>
                </div>
            </div>
            <div class="example clearfix">
                <div class="panel">
                    <h4>Example 3</h4>
                    <img src="/assets/image-example-3.jpg" alt="Detail of Flight Memory Recorder." width="154" />
                </div>
                <div class="panel cross">
                    <h4>Too long</h4>
                    <p>ARL Flight Memory recorder airborne prototype voice plus data recorder unit comprising small metal box with open sides and two three-layered reels on top.</p>
                </div>
                <div class="panel cross">
                    <h4>Not clear</h4>
                    <p>Part of a metal thing with wires.</p>
                </div>
                <div class="panel tick">
                    <h4>Just right</h4>
                    <p>Detail of Flight Memory Recorder.</p>
                </div>
            </div>
        </fieldset>
    </div>
</section>
    
