@{
    ViewBag.Title = "Describe Me";
}

<section class="welcome clearfix">
    <div class="twothird">
        <h1>
            <img src="/assets/logo-home-intro.png" alt="Describe Me"/>
        </h1>
    </div>
    <div class="third">
        <img src="/assets/image-dude-typing.png" alt="Dude typing on a computer"/>
    </div>
</section>
<section class="box clearfix farewell">
    <h2>Farewell and thank you from Describe Me</h2>
    <p>After 5 years of community contributions we have described an impressive 86% of our images lacking alt-text. As we are pretty happy with those numbers we have decided to shut down Describe Me on the <b>31st of August.</b></p>
    <p>So thank you all for all your hard work, you have helped enhance our online collections for people who are blind or have low vision!</p>
</section>
<section class="clearfix">
    <div>
        <img src="/assets/image-farewell.jpg" alt="black and white photograph of a group of people waving" />
    </div>
</section>